.card {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    padding: 4%;
}
.brand-name {
    color: #AF38FB;
    font-weight: bold;
    font-size: 24px;
}
.page-name {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 3%;
    font-weight: bold;
}
input[type=text] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background: #E7E7E7;
    border: none;
    padding: 1%;
}
.button {
    background: #7496F3;
    color: white;
    border: none;
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3%;
    cursor: pointer;
}
.login-link, router_link:link, router_link:visited, router_link:hover, router_link:active {
    color: #737171;
    font-size: 12px;
}
.span_break {
    display: block;
    margin-bottom: 2em;
}

.product-card {
    width: 30%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    display: inline-block;
    margin: 1%;
    color: #737171;
}

.plus-icon {
    color: #AF38FB;
    cursor: pointer;
    float: right;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 1.33em;
}

.product-icon {
    color: black;
    margin-top: 0.5em;
    font-size: 5em;
}

.product-name {
    font-weight: bold;
}

.sub-card {
    display: inline;
}

.product-price {
    float:left;
    margin-left: 1em;
    margin-top: 0;
}